@import '../template-style.css';

#resume-template.template-default {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;

        .name {
            font-size: calc(32 * var(--base-font-size) / 14);
            font-weight: bold;
            margin-bottom: 4px;
        }

        .job-title {
            font-size: calc(14 * var(--base-font-size) / 14);
        }

        .personal-info {
            text-align: right;
        }
    }
  hr {
    margin-top: calc(var(--section-spacing) / 2);
    margin-bottom: var(--section-spacing)
  }
}

#resume-template .header p {
    margin: 0;
    font-size: calc(14 * var(--base-font-size) / 14);
}

#resume-template .section {
    margin-bottom: var(--section-spacing);
}

#resume-template .section-title {
    font-weight: bold;
    font-size: calc(16px * var(--base-font-size) / 14);
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--main-color);
}

#resume-template .section-text {
    font-size: calc(14px * var(--base-font-size) / 14);
    line-height: 1.6;
}

#resume-template .skills-list {
    padding-left: 20px;
    list-style-type: disc;
    font-size: calc(14px * var(--base-font-size) / 14);
    margin-top: 4px;
}

#resume-template .section-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: calc(14px * var(--base-font-size) / 14);
}

#resume-template .item-title {
    font-weight: bold;
    margin-bottom: 2px;
}

#resume-template .item-sub {
    font-size: 0.875em;
    color: #555;
}

#resume-template .section-title {
    color: rgba(var(--main-color));
}


