#resume-template.professional-template {
    line-height: 1.6;
    color: #111;
    display: flex;

    .left-column {
        width: 30%;
        background-color: rgba(var(--main-color), 0.05);
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .profile-pic {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-bottom: 24px;
        align-self: center;
        background-color: lightgray;
    }

    .contact-section,
    .subsection {
        font-size: calc(13px * var(--base-font-size) / 14);
    }

    .subsection h3 {
        font-size: calc(13px * var(--base-font-size) / 14);
        font-weight: bold;
        margin-bottom: 4px;
        text-transform: uppercase;
    }

    .skills-list {
        list-style: disc;
        padding-left: 16px;
        margin: 0;
    }

    .skills-list li {
        margin-bottom: 2px;
    }

    .link-list {
        list-style: none;
        padding-left: 0;
        margin-top: 4px;
    }

    .link-list li a {
        color: var(--main-color);
        font-size: calc(13px * var(--base-font-size) / 14);
        text-decoration: none;
    }

    .link-list li a:hover {
        text-decoration: underline;
    }

    .right-column {
        width: 70%;
        padding: 32px;
    }

    .name {
        font-size: calc(28 * var(--base-font-size) / 14);
        font-weight: bold;
        color: var(--main-color);
        margin-bottom: 4px;
    }

    .position {
        font-size: calc(16px * var(--base-font-size) / 14);
        margin-bottom: 24px;
    }

    .section {
        margin-bottom: var(--section-spacing);
    }

    .section-title {
        font-size: calc(16px * var(--base-font-size) / 14);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .section-group {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .item-title {
        font-weight: bold;
        font-size: calc(14px * var(--base-font-size) / 14);
    }

    .item-sub {
        font-size: calc(12px * var(--base-font-size) / 14);
        color: #555;
        margin-bottom: 4px;
    }

    .item-description {
        font-size: calc(13px * var(--base-font-size) / 14);
    }
}
